/* * {
  cursor: none;
}

.cursor {
  position: absolute;
  width: 128px;
  height: 128px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;

  background: rgba(217, 217, 217, 1); */
  /* mix-blend-mode: normal; */
  /* filter: blur(20px);
  backdrop-filter: blur(5px); */

  /* backface-visibility: hidden;
  transition: transform 0.2s ease-out;
    mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}
.cursor.is-moving {
  transform: scale(0.8);
}

.content_cursor {
  position: relative;
  height: 100%;
} */

/* * {
  cursor:none;
} */
/* .wrapper {
  background-color:white;
  position:absolute;
  height:100%;
} */
/* .cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1); 
  mix-blend-mode: normal;
  filter: blur(20px);
  backdrop-filter: blur(5px);

  backface-visibility: hidden;
  transition: transform 0.2s ease-out;
    mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
} 

.cursor.is-moving {
  transform: scale(0.8);
}

.content_cursor {
  position:relative;
  height:100%;
} */

/* * {
  cursor: none;
} */

/* html {
  
  cursor: url(../images/cursorek-svg.svg), auto;
 
} */



.cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -50%;
  left: -50%;
  margin: -7px 0 0 -7px;
  border-radius: 50%;
  border: 1px solid  #274EF0;

  /* background: rgba(217, 217, 217, 1); */
  /* box-shadow: 0 0 5px 10px #555; */
  /* mix-blend-mode: difference; */
  /* filter: blur(8px); */
  backdrop-filter: blur(2px);

  /* backface-visibility: hidden; */
  transition: 0.5s width ease-out, 0.5s height ease-out;
  /* transition: 0.1s ease-out; */
  z-index: 1000;
  pointer-events: none;
  
 overflow: hidden;
}
.cursor.is-moving {
   width: 64px;
  height: 64px;

  
}

/* header > div.cursor {
  display: none;
} */

/* .content_cursor {
  position: relative;
  height: 100%;
} */
