/* width */
::-webkit-scrollbar {
  width:4px;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c6c6c6
  ; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}