:root {
  --brand-color: #2196f3;
  --brand-secondary-color: #000000;
  --body-text-color: #757575;
  --headline-color: #212121;
  --background-color: #2f303a;
  --background-color-2nd: #f5f4fa;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

.logotype {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-secondary-color);
  text-decoration: none;
}

.piece-of-logotype {
  color: var(--brand-color);
  text-decoration: none;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--headline-color);
  text-decoration: none;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--brand-color);
}

.main-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.secondary-headline {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

.bodytext-headline {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headline-color);
}

/* .bodytext {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
} */

.body-text p:nth-of-type(1) {
    font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}

.hiddenheader {
  display: none;
}

.button-cta {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}

.button-filter-unactive {
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  cursor: pointer;
}

.button-filter-active,
.button-filter-unactive:hover,
.button-filter-unactive:focus {
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  cursor: pointer;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

.work-position,
.scope-of-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headline-color);
}

.address-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--body-text-color);
}

.contact-link:hover {
  text-decoration: none;
  color: var(--brand-color);
}

.divider {
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;
  border: 1px solid #ececec;
}

.nobull {
  list-style-type: none;
}
