:root {
  --brand-color: #2196f3;
  --brand-secondary-color: #000000;
  --body-text-color: #757575;
  --headline-color: #212121;
  --background-color: #2f303a;
  --background-color-2nd: #f5f4fa;
  --white-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
}

.nobull {
  list-style-type: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

nav {
  display: flex;
}

.logotype {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-secondary-color);
  text-decoration: none;
  margin-right: 93px;
}

.logotype-v2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}

.piece-of-logotype {
  color: var(--brand-color);
  text-decoration: none;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--headline-color);
  text-decoration: none;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--brand-color);
  transition: 500ms;
}

.main-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  max-width: 696px;
}

.secondary-headline {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

.bodytext-headline {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headline-color);
}

.body-text p:nth-of-type(1) {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  padding-top: 10px;
}

.body-text {
  display: inline-flex;
  gap: 30px;
}
.brand-values-icon-set {
  display: inline-flex;
  gap: 30px;
  margin-bottom: 30px;
}

.brand-values-icon-set li:nth-child(1),
.brand-values-icon-set li:nth-child(2),
.brand-values-icon-set li:nth-child(3),
.brand-values-icon-set li:nth-child(4) {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.hiddenheader {
  display: none;
}

.button-cta {
  padding-top: 10px;
  padding-right: 42px;
  padding-bottom: 10px;
  padding-left: 42px;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.88;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}

.button-cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.button-filter-unactive {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  cursor: pointer;
}
.button-filter-unactive:hover,
.button-filter-unactive:focus {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  background: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  cursor: pointer;
}

.filter-buttons-container {
  display: flex;
}

.filter-buttons-list {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-filter-active {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  cursor: pointer;
  transition: 500ms;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work-position {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  padding-top: 10px;
  padding-bottom: 16px;
}

.sm-icons-container-our-team {
  display: inline-flex;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
  gap: 10px;
}

.sm-rounded-button-team-style {
  --color5:#AFB1B8;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 128px;
  border: none;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  cursor: pointer;
}

.sm-rounded-button-team-style:hover {
  --color5:var(--white-color);
  background: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 128px;
  border: none;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.scope-of-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headline-color);
  padding-bottom: 10px;
}

.address-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--body-text-color);
}



.contact-links {
  display: inline-flex;
  width: 310px;
  justify-content: space-between;
}

.contact-link-email-topbar,
.contact-link-smartphone-topbar {
  display: flex;
  align-items: center;
}

.contact-link:hover,
.contact-link:focus {
  text-decoration: none;
  color: var(--brand-color);
}

.contact-link-email-topbar:hover,
.contact-link-email-topbar:focus,
.contact-link-smartphone-topbar:hover,
.contact-link-smartphone-topbar:focus {
  text-decoration: none;
  --color4: var(--brand-color);
}

.envelope-icon-topbar,
.smartphone-icon-topbar {
  margin-right: 10px;
}

.container {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: var(--white-color);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  gap: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-banner {
  background: linear-gradient(
      to top,
      rgba(48, 49, 59, 0.217) 40%,
      rgba(48, 49, 59, 0.217) 40%
    ),
    url(../images/main-banner-photo.jpg);
  background-size: cover;
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.what-we-de-content {
  display: inline-flex;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-flex;
  gap: 30px;
}

.team-members-card-list {
  display: inline-flex;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  gap: 30px;
}

.our-team {
  background-color: var(--background-color-2nd);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-list {
  display: inline-flex;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  gap: 30px;
}

.logo-our-clients {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.logo-our-clients:hover {
  --color3: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  background-color: var(--background-color);
}

.footer-content {
  display: inline-flex;
}

.social-media-box-footer {
  padding-top: 12px;
  padding-left: 70px;
}

.sm-icons-container-footer {
  display: inline-flex;
  gap: 10px;
}

.sm-rounded-button-footer-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 128px;
  border: none;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  cursor: pointer;
}

.sm-rounded-button-footer-style:hover,
.sm-rounded-button-footer-style:focus {
  background: var(--brand-color);
}

.contact-info {
  padding-top: 20px;
  padding-bottom: 9px;
}

.e-mail-link-in-footer {
  padding-top: 9px;
}

.tel-link-in-footer {
  padding-top: 9px;
}

.social-media-icons-headline-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 20px;
}

.list-of-works {
  display: inline-flex;
  padding-top: 50px;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-work-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.portfolio-work-item:hover,
.portfolio-work-item:focus {
  flex-basis: calc((100% - 2 * 30px) / 3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-work-item-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background: var(--white-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  margin-top: -5px;
}
