:root {
  --brand-color: #2196f3;
  --brand-secondary-color: #000000;
  --body-text-color: #757575;
  --headline-color: #212121;
  --background-color: #2f303a;
  --background-color-2nd: #f5f4fa;
  --white-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
}

.nobull {
  list-style-type: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

.container {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
}

.contact-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 310px;
  justify-content: space-between;
  gap: 30px;
}

.contact-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--body-text-color);
  fill: var(--body-text-color);
  transition: fill, color, gap 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 10px;
}

.contact-link:hover,
.contact-link:focus {
  fill: var(--brand-color);
  color: var(--brand-color);
  gap: 14px;
}

.header-portfolio {
  position: fixed;
  margin: 0 auto;
  background-color: var(--white-color);
  height: 80px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  border-bottom: 1px solid #ececec;
}

.header-home {
  position: fixed;
  margin: 0 auto;
  background-color: var(--white-color);
  min-height: 80px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-secondary-color);
  text-decoration: none;
  margin-right: 93px;
}

.logotype-v2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}

.piece-of-logotype {
  color: var(--brand-color);
  text-decoration: none;
}

.main-menu {
  position: relative;
  gap: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--headline-color);
  text-decoration: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-home .active-link::after {
  position: absolute;
  content: "";
  background: #2196f3;
  height: 4px;
  width: 56px;
  top: 51px;
  left: 0px;
  border-radius: 2px;
}

.header-home .main-menu > li:nth-child(2) ~ .active-link::after {
  width: 58px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-home .main-menu > li:nth-child(2):hover ~ .active-link::after {
  position: absolute;
  content: "";
  background: #2196f3;
  height: 4px;
  width: 58px;
  top: 51px;
  left: 0px;
  border-radius: 2px;
  transform: translateX(99px);
}

.header-home .main-menu-active-link-agency,
.header-home .main-menu-active-link-portfolio {
  color: var(--brand-color);
}

.header-portfolio .active-link::after {
  position: absolute;
  content: "";
  background: #2196f3;
  height: 4px;
  width: 58px;
  top: 51px;
  left: 99px;
  border-radius: 2px;
}

.header-portfolio .main-menu > li:nth-child(1) ~ .active-link::after {
  width: 58px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-portfolio .main-menu > li:nth-child(1):hover ~ .active-link::after {
  position: absolute;
  content: "";
  background: #2196f3;
  height: 4px;
  width: 56px;
  top: 51px;
  left: 99px;
  border-radius: 2px;
  transform: translateX(-99px);
}

.header-portfolio .main-menu-active-link-agency,
.header-portfolio .main-menu-active-link-portfolio {
  color: var(--brand-color);
}




/* .main-menu-active-link-agency::after {
  position:absolute;
  content: "";
  background: #2196f3;
  height: 4px;
  width: 56px;
  top: 51px;
  left: 0px;
  border-radius: 2px;
}

.main-menu-active-link-portfolio::after {
  position:absolute;
  content: "";
  background: #2196f3;
  height: 4px;
  width: 58px;
  top: 51px;
  left: 99px;
  border-radius: 2px;
}

.menu-item:hover .main-menu-active-link-agency::after {
  position:absolute;
  content: "";
  background: #2196f3;
  height: 4px;
  width: 56px;
  top: 51px;
  left: 20px;
  border-radius: 2px;
} */

.menu-item:hover,
.menu-item:focus {
  color: var(--brand-color);
}

.main-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  max-width: 696px;
}

.secondary-headline {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

.bodytext-headline {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headline-color);
}

.body-text p:nth-of-type(1) {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  padding-top: 10px;
}

.body-text {
  display: inline-flex;
  gap: 30px;
}
.brand-values-icon-set {
  display: inline-flex;
  gap: 30px;
  margin-bottom: 30px;
}

.brand-values-icon-set li:nth-child(1),
.brand-values-icon-set li:nth-child(2),
.brand-values-icon-set li:nth-child(3),
.brand-values-icon-set li:nth-child(4) {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.hiddenheader {
  display: none;
}

.main-banner {
  background: linear-gradient(
      to top,
      rgba(48, 49, 59, 0.217) 40%,
      rgba(48, 49, 59, 0.217) 40%
    ),
    url(../images/main-banner-photo.jpg);
  background-size: cover;
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  transition: transform;
  transform: scale(100%);
  margin-top: 80px;
}

.button-cta {
  padding-top: 10px;
  padding-right: 42px;
  padding-bottom: 10px;
  padding-left: 42px;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.88;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.button-cta:hover {
  background: var(--white-color);
  color: var(--brand-color);
}

.button-cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.button-filter-unactive {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.button-filter-unactive:hover,
.button-filter-unactive:focus {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  background: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  cursor: pointer;
}

.filter-buttons-container {
  display: flex;
}

.filter-buttons-list {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-filter-active {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  cursor: pointer;
  transition: 500ms;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-position {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  padding-top: 10px;
  padding-bottom: 16px;
}

.sm-icons-container-our-team {
  display: inline-flex;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
  gap: 10px;
}

.sm-rounded-button-team-style {
  fill: #afb1b8;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 128px;
  border: none;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.sm-rounded-button-team-style:hover {
  fill: var(--white-color);
  background: #2196f3;
}

.scope-of-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headline-color);
  padding-bottom: 10px;
}

.address-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-de-content {
  display: inline-flex;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-flex;
  gap: 30px;
}

.what-we-de-content:nth-child(1),
.what-we-de-content:nth-child(2),
.what-we-de-content:nth-child(3) {
  position: relative;
}

.what-we-de-content > li > h3 {
  position: absolute;
  bottom: 4px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  flex-basis: calc(100% - (2 * 30px) / 3);
  min-width: 370px;
  max-width: 370px;
  padding-top: 27px;
  padding-right: 32px;
  padding-bottom: 27px;
  padding-left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.team-members-card-list {
  display: inline-flex;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  gap: 30px;
}

.team-member-card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-card:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.2);
}

.our-team {
  background-color: var(--background-color-2nd);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-list {
  display: inline-flex;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  gap: 30px;
}

.logo-our-clients {
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  transition: fill border transform cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  transition-duration: 250ms;
}

.logo-our-clients:hover {
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
  transform: scale(1.2);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  background-color: var(--background-color);
}

.footer-content {
  display: inline-flex;
}

.social-media-box-footer {
  padding-top: 12px;
  padding-left: 70px;
}

.sm-icons-container-footer {
  display: inline-flex;
  gap: 10px;
}

.contact-info {
  padding-top: 20px;
  padding-bottom: 9px;
}

.e-mail-link-in-footer {
  padding-top: 9px;
}

.tel-link-in-footer {
  padding-top: 9px;
}

.social-media-icons-headline-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 20px;
}

.sm-rounded-button-footer-style-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.sm-rounded-button-footer-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  background-size: 0%;
  border-radius: 128px;
  border: none;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  cursor: pointer;
  transition: transform background-size cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* .sm-rounded-button-footer-style::before {
} */

.sm-icon-footer {
  fill: var(--white-color);
}

.sm-rounded-button-footer-style:hover,
.sm-rounded-button-footer-style:focus {
  background: #2196f3;
  background-size: 100%;
  transform: scale(1.2);
}

.portfolio-section {
  margin-top: 80px;
}

.list-of-works {
  display: inline-flex;
  padding-top: 50px;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-work-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  transition: box-shadow 700ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-work-item-photo-container {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}


.portfolio-work-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-work-item-overlay > p {
  padding-top: 49px;
  padding-right: 45px;
  padding-bottom: 49px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0%;
  transform: translatey(24px);
}

.portfolio-work-item:hover .portfolio-work-item-overlay,
.portfolio-work-item:focus .portfolio-work-item-overlay,
.portfolio-work-item:hover .portfolio-work-item-description,
.portfolio-work-item:focus .portfolio-work-item-description {
  transform: translateY(0);
  border-left: 0px solid #eeeeee;
  border-right: 0px solid #eeeeee;
  border-bottom: 0px solid #eeeeee;
  
}
.portfolio-work-item:hover .portfolio-work-item-overlay > p,
.portfolio-work-item:focus .portfolio-work-item-overlay > p {
  opacity: 100%;
  transform: translatey(0px);
  transition: opacity 700ms linear 250ms, transform 800ms ease-in-out;
}

.portfolio-work-item:hover,
.portfolio-work-item:focus {
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); */
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
}

.portfolio-work-item-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background: var(--white-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  margin-top: -5px;
}

.backdrop {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 100%;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 5000ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  margin: auto;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 128px;
  border: 1px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  cursor: pointer;
  fill: var(--brand-secondary-color);
}

.close-btn:hover,
.close-btn:hover > svg > path {
  background: var(--brand-color);
  fill: var(--white-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(4%) skew(2deg) scale(108%);
}
